@font-face {
    font-family: flappybird;
    src: url('http://www.mediafont.com/storage/contents/3184/font.eot'); /* IE */ 
    src: url('http://www.mediafont.com/storage/contents/3184/04B_19__.TTF'); /* non-IE */ 
}

body{
    display: flex;
}
.game-container{
    height: 730px;
    width:500px;
    position:absolute;
    left: 80px;
}

.border-left{
    height: 900px;
    width: 80px;
    position:absolute;
    background-color: white;
    z-index: 3 ;
}

.border-right{
    left: 580px;
    height: 730px;
    width: 80px;
    position:absolute;
    background-color: white;
    z-index: 1;
}

.border-top{
    height: 70px;
    width: 660px;
    position:absolute;
    background-color: white;
    z-index: 3;
    top: -60px;
}

.score{
    top:50px;
    left:40px;
    font-family: flappybird;
    position:absolute;
    font-size: 4vw;
    z-index: 2;
    color:white;
    text-shadow: 5px 3px black;
}

.sky{
    background-image: url('static/fb-game-background.png');
    height: 580px;
    width: 500px;
    position:absolute;
}

/*position absolute - the element is positioned relative to the parent*/

.ground{
    background-image: url('static/bottom-background.png');
    height:150px;
    width: 500px;
    position: absolute;
    top:580px; 
    /*To give spacing for sky to be above*/
    z-index: 1;
    /*to keep ground ahead over pipes*/
}

.bird{
    background-image: url('static/flappy-bird.png');
    position: absolute;
    height: 45px;
    width: 60px;
}

.obstacle{
    background-image: url('static/flappybird-pipe.png');
    height:300px;
    width: 60px;
    position: absolute;
}

/*Top obstacle created by rotating obstacle by 180 degrees and adding a gap*/
.topObstacle{
    background-image: url('static/flappybird-pipe.png');
    transform: rotate(180deg);
    height:300px;
    width: 60px;
    position: absolute;
}