.game-container{
    height: 730px;
    width:500px;
    position:absolute;
}

.sky{
    background-color: lightblue;
    height: 580px;
    width: 500px;
    position:absolute;
}

/*position absolute - the element is positioned relative to the parent*/

.ground{
    background-color: brown;
    height:150px;
    width: 500px;
    position: absolute;
    top:580px; 
    /*To give spacing for sky to be above*/
}

.bird{
    background-color: yellow;
    position: absolute;
    height: 45px;
    width: 60px;
}

.obstacle{
    background-color: greenyellow;
    height:300px;
    width: 60px;
    position: absolute;
}